.cancel-icon-block {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 84px;
    height: 84px;
    cursor: pointer;
}
  
.cancel-icon-block-hidden {
  display: none;
}