.wrap {
    width: 1120px;
    height: 56px;
    display: flex;
    justify-content: space-between;
    margin-top: 64px;
}

.tabs {
    gap: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabs .active {
    background-color: #6C1BDB;
    color: white;
}

.tabs button {
    padding: 16px 40px;
    border-radius: 4px;
    background: #3130371A;
    color: #313037;
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    text-decoration: none;
    border: none;
}

.sort__title {
    width: 256px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background-color: #fff;
}

.select-az {
    border: none;
    outline: none;
    width: 300px;
    height: 30px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;

}

.option-1 {
    width: 300px;
}
