.articles_main-wrap {
    width: 1120px;
    margin: 0 auto;

}

.articles_wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    gap: 32px;
    margin-top: 64px;
}

.articles_main-title {
    width: 1120px;
    margin-top: 72px;
    font-family: Inter;
    font-size: 56px;
    font-weight: 700;
    line-height: 80px;
    text-align: left;
    color: #313037;
}

.pages-link {
    margin-top: 40px;
    width: 1120px;
    height: 56px;
    display: flex;
    gap: 40px;

}

.link__to-blogs,
.link__to-articles {
    width: 141px;
    height: 48px;
    display: flex;
    justify-content: center;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    color: #313037;
}

.link__to-articles {
    border-bottom: 2px solid black;
}

.route-link {
    text-decoration: none;
}
