.signup__page {
    height: 80vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sign-up__title {
    display: flex;
    flex-direction: column;
    width: 1120px;
    font-family: Inter;
    font-weight: 700;
    font-size: 56px;
    color: #313037;
    gap: 32px;
}

.signup-wrapper {
    width: 624px;
    height: 642px;
    padding: 40px;
    background-color: #fff;
    border-radius: 16px;
    margin-top: 72px;

}

.signup__input_container {
    display: flex;
    flex-direction: column;

}

.input__password,
.input__email {
    width: 544px;
    height: 56px;
    top: 28px;
    gap: 0px;
    border-radius: 4px;
    border: 1px solid #3130371A;
    opacity: 0px;
    outline: #6C1BDB;
    padding-left: 20px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #313037;
}

.input__password::placeholder,
.input__email::placeholder {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #31303780;
}

.input__password:focus,
.input__email:focus {
    border: 1px solid #6C1BDB;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #313037;
}

.input__password:hover,
.input__email:hover {
    border: 1px solid #6C1BDB;
}

.input__email {
    margin-bottom: 40px;
}

.input-span {
    margin-bottom: 8px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
    color: #313037;
}

.forgot-btn {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #313037;
    text-decoration: none;
    margin-top: 16px;
}

.signup-btn {
    width: 544px;
    height: 56px;
    padding: 16px 32px 16px 32px;
    gap: 10px;
    border-radius: 4px;
    opacity: 0px;
    background-color: #6C1BDB;
    border: none;
    color: white;
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    margin-top: 48px;
    transition: 0.3s;
}

.signup-btn:hover {
    background-color: #912EF2;
}

.reg__form-footer-text {

    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    color: 31303780;
}

.reg__form-footer-link {
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    color: #6C1BDB;
    text-decoration: none;
}

.signup__footer-inner {
    width: 243px;
    display: flex;
    margin: 0 auto;
    margin-top: 24px;
}

.signup__title-link {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-decoration: none;
    color: #313037;
}