.registration__page {
    width: 100%;
    height: 975px;
    max-width: 1040px;
    margin: 0 auto;
    background-color: white;
    top: 0;
    position: relative;
 }
.reg__form-wrapper {
    width: 60%;
    height: 684px;
    padding: 40px 0px 0px 0px;
    border: 1px solid rgba(231, 231, 231, 1);
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.input__container {
    width: 90%;
    height: 435px;
    margin: 40px auto;
    position: relative; 
    top: 30%; 
    transform: translateY(-50%);
    padding: 0;
}
.reg__form-footer {
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: center;
}
.reg__form-footer-inner {
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 24px;
}
.reg__form-footer-text {
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    color: rgba(141, 142, 151, 1);
}
.sign_up_button-container {
    width: 95%;
    display: flex;
}
.sign_up-button {
    width: 95%;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px 0px 0px 0px;
    border: none;
    cursor: pointer;
    background: rgba(49, 48, 55, 1);
    font-family: Bebas Neue;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.05em;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    margin-top: 30px;
    margin-left: 30px;
    border-radius: 5px;
}
@media only screen and (max-width: 414px) {
    .sign_up-button {
        margin-left: 10px;
    }
}

