html {
  font-size: 16px;
}

body {
  width: 100%;
  box-sizing: border-box;
  color: #313037;
  background-color: #f3f3f3;
  font-family: 'Inter', sans-serif;
  margin: 0 auto;
}

.page_dark {
  background-color: #313037;
}

.page_light {
  background-color: rgba(243, 243, 243, 1);
}


h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

