@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.article__wrap {
    display: flex;
    width: 352px;
    height: 388px;
    margin-top: 8px;
    flex-direction: column;
    border-radius: 16px;
    background-color: #ffff;
    transition: 0.3s;

}

.article__wrap:hover {
    box-shadow: 0px 12px 40px 9px #0000001A;

    .article__image-color {
        opacity: 0;
    }
}

.link__article:active {
    height: 388px;
    width: 352px;
    border-radius: 16px;
    transition: 0.3s;
    box-shadow: 0px 12px 40px 5px #0000001a;}

.link__article{
    text-decoration: none;
}

.article__image-wrap {
    width: 352px;
    height: 208px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.article__image-color {
    width: 352px;
    height: 208px;
    position: absolute;
    background: linear-gradient(133.87deg, rgba(77, 10, 199, 0.6) -10.18%, rgba(145, 46, 242, 0.6) 108.59%);
    border-radius: 16px 16px 0 0;
    transition: 0.3s;
}

.article__info {
    height: 180px;
    display: flex;
    flex-direction: column;
    border-radius: 0 0 16px 16px;
    padding: 32px;
}

.article__image {
    width: 352px;
    height: 208px;
    display: flex;
    border-radius: 16px 16px 0 0;
}


.article__date {
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #31303780;
}

.article__title {
    height: 85px;
    margin-top: 8px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    text-align: left;
    color: #313037;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}