/* .search__container {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;

}

.header__search {
  position: relative;
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  padding: 0 20px;
  font-size: 18px;
  color: rgb(87, 87, 87);
}


.header__search::placeholder {
  color: #b8b8b8;
}

.header__search-active {
  width: 100%;
  background-color: #e9e9e9;
  font-size: 18px;
  color: rgb(105, 105, 105);
}

.cancellion-icon {
  position: relative;
  height: 100%;
  right: 30px;
  display: flex;
  justify-content: cente  r;
  align-items: center;
} */


.search__wrapper {
  width: 60%;
  height: 40%;
  display: flex;
  position: relative;
}

.search_input {
  flex-grow: 1;
  padding: 0 10px;
  height: 100%;
  color: black;
  border: 1px solid rgba(231, 231, 231, 1);
  padding-right: 50px;
}

.search_input-active {
  width: 100%;
}

.search_input::placeholder {
  color: black;
}

.icons {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
}

@media only screen and (max-width: 850px) {
  .search_input {
    padding: 0;
    width: 20%;
    height: 30px;
    margin-top: 10px;
  }
}