.search__container {
  display: flex;
  height: 70%;
  width: 75%;
  align-items: center;
  margin: 0 32px;
}

.header__search {
  width: 100%;
  height: 70%;
  outline: none;
  border: none;
  padding: 0 20px;
  border-radius: 12px;
  font-size: 18px;
  color: rgb(87, 87, 87);
}


.header__search::placeholder {
  color: #b8b8b8;
}

.header__search-active {
  background-color: #e9e9e9;
  font-size: 18px;
  color: rgb(105, 105, 105);
}

.cancellion-icon {
  position: relative;
  right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}