.search__container {
  display: flex;
  height: 70%;
  width: 60%;
  align-items: center;
}

.header__search {
  width: 100%;
  height: 70%;
  outline: none;
  border: none;
  padding: 0 20px;
  border-radius: 15px;
}

.header__search::placeholder {
  color: #fff;
}

.header__search-active {
  background-color: #e4e4e4;
}

.cancellion-icon {
  position: relative;
  right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-icon{
  display: flex;
  justify-content: center;
  align-items: center;
}