.back, .next{
    display: flex;
border:none;
}

.pagination__wraper{
    display: flex;
    width: 1120px;
    justify-content: space-between;
    align-items: center;
    margin: 50px auto;
}

.currentpage__wrapper{
    width: 100px;
    display: flex;
    justify-content: space-around;
}
